# ALL SOURCE FILES LISTED IN THIS FILE AS "export-ignore" ARE NOT EXPORTED.

# If the next line is uncommented, then all "Chronik der Andorversen" files are not exported.
"chronik-der-andorversen*" export-ignore

# If the next line is uncommented, then all "Alle Helden ueberall" files are not exported.
"alle-helden-ueberall*" export-ignore

# If the next line is uncommented, then all "das-erbe-des-wunderkindes" files are not exported.
#"das-erbe-des-wunderkindes*" export-ignore

# Do not export works in progress.
"wip-*" export-ignore
