# ALL FILENAMES LISTED IN THIS FILE ARE NOT TRACKED BY GIT.

# Do not track the compiled pdfs.
Chronik der Andorversen.pdf
Das Erbe des Wunderkindes.pdf

# Do not track any files with one the following extension.
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex*
*.toc
